@import '../styles/util.scss';

.Calendar {
    /* 
    Printing styles must be applied directly within this element to be considered during processing by react-to-print.
    See: https://github.com/MatthewHerbst/react-to-print#examples

    Additional printing styles should be added as part of the printing media query under App.scss if being ignored by the printing menu
    */

    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: $PAGE-LENGTH;
    height: $PAGE-WIDTH;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        // Remove title from flex flow so calendar is centered.
        position: absolute;
        left: 50%;
        top: 0.00in;
        transform: translateX(-50%);
        font-size: 31px;
        text-align: center;
        grid-column: 1 / 7;
    }

    &__content {
        width: 9.5in;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__notice {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 1.5in;
        padding: 0.2in;
        grid-column: 1/7;
        background-color: $library-blue;
        color: white;
        font-size: 33px;
        text-align: center;
        border: 1px solid black;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: black;
        border-top: none;

        &--title-wrapper {
            width: 6in;
        }

    }

    &__qrcode-container {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 2px;
        left: 0.10in;
        bottom: 0.10in;
        width: 3in;

        &__code {
            width: 1.3in;
        }

        &__info {
            font-size: 13px;
            margin-left: 0.15in;
        }
    }

    &__logo {
        width: 40px;
        position: absolute;
        right: .25in;
        bottom: .25in;
    }

}