.Calendar {
    width: 11in;
    height: 8.5in;
    border: 1px solid black;
    &__printable {
        width: 9in;
        height: 600px;
        margin-top: 50px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);


        & .Day:first-child {
            border: 1px solid black;
        }
    }

    &__notice {
        width: 100%;
        height: 1.5in;
        grid-column: 1 / 7;
        background-color: #5b9bd5;
        color: white;
        font-size: 30px;
        text-align: center;
        border: 1px solid black;
        border-top: none;
    }
}